/* static/css/story-hub.css */

form {
    margin-bottom: 20px;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.story-hub-container {
    text-align: center;
    margin-top: 20px;
}

.content p {
    white-space: pre-wrap;
}

/* Adjust margin for content */
.content .items-list {
    margin-top: 15px;
}

/* Adjust items-list to use CSS Grid */
.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust min width as needed */
    grid-gap: 30px;
    margin-bottom: 20px;
    padding: 0 20px; /* Optional: Add side padding */
}

/* Update the item class */
.item {
    background-color: #fff;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
    overflow: hidden; /* Hide overflow */
    position: relative; /* For any absolute positioning inside */
    height: 250px; /* Fixed height for uniformity */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item p {
    flex-grow: 1;
    font-size: 0.95em;
    color: #555;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.item:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
}

/* Optional: Add a 'Read More' link or icon */
.item::after {
    content: 'Click to open';
    font-size: 0.85em;
    color: #007BFF;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.item:hover::after {
    text-decoration: underline;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    text-align: left;
    font-size: 1.3em;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    max-width: 800px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

/* Delete button */
.delete-button {
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .items-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 0 10px;
    }

    .item {
        height: auto; /* Let height adjust for smaller screens */
    }
}