/* base.css */

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    background: linear-gradient(120deg, #f0f0f0, #e0e0e0);
}
.container {
    max-width: 1200px;
    margin: auto;
}
h1 {
    text-align: center;
}
form {
    margin-top: 10px;
    text-align: center;
}
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.current-time,
.current-place {
    font-size: 16px;
    color: #444;
}
.current-place {
    text-align: right;
}

/* Container for Toasts */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* Base Toast Style */
.toast {
    display: flex;
    align-items: center;
    max-width: 600px;
    min-width: 250px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    animation: fadeInToast 0.5s forwards;
    font-size: 16px;
}

/* Success Toast */
.toast.success {
    background: linear-gradient(45deg, #28a745, #218838);
}

/* Error Toast */
.toast.error {
    background: linear-gradient(45deg, #dc3545, #c82333);
}

/* Icon Styling */
.toast::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-size: 18px;
}

.toast.success::before {
    content: "\f00c"; /* Font Awesome check icon */
}

.toast.error::before {
    content: "\f00d"; /* Font Awesome times icon */
}

/* Animation */
@keyframes fadeInToast {
    from { opacity: 0; transform: translateX(100%); }
    to { opacity: 1; transform: translateX(0); }
}

/* Fade-Out Animation */
@keyframes fadeOutToast {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(100%); }
}

/* Fade-Out Class */
.fade-out {
    animation: fadeOutToast 0.5s forwards;
}

/* Hide the section */
.hidden-section {
    display: none;
}

/* Show the section */
.visible-section {
    display: block;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 10px;
    }
    input[type="submit"] {
        width: 100%;
    }
}