<!-- templates/location-hub.html -->
{% extends "base.html" %}

{% block title %}Location Hub{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='location-hub.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>{{ current_place }}, {{ current_hour }} {{ current_time_of_day }}</h1>

<!-- Describe Place Section -->
{% if place_description %}
<div class="place-description">
    <p>{{ place_description }}</p>
</div>
{% endif %}

<div class="available-actions-section">
    <h2>Place Actions</h2>
    <!-- Exploration message -->
    {% if exploration_result_message %}
    <p>{{ exploration_result_message }}</p>
    {% endif %}
    <div class="action-grid">
        <form method="post">
            <input name="action" type="hidden" value="Describe Place">
            <input class="action-button" type="submit" value="Describe current place">
        </form>

        {% if current_place_type.value == "location" %}
        <form method="post">
            <input name="action" type="hidden" value="Exit Location">
            <input class="action-button" type="submit" value="Exit current place">
        </form>
        {% endif %}

        <!-- Button for searching for locations -->
        {% if current_place_type.value == "area" %}
        <form method="post">
            <input name="action" type="hidden" value="Search For Location">
            <input class="action-button" type="submit" value="Search for location">
        </form>
        {% endif %}

        <!-- Buttons for visiting locations -->
        {% if locations_present %}
        {% for location in locations_present %}
        <form method="post">
            <input name="action" type="hidden" value="Visit Location">
            <input name="location_identifier" type="hidden" value="{{ location.identifier }}">
            <input class="action-button" type="submit" value="Visit {{ location.place_template }}">
        </form>
        {% endfor %}
        {% endif %}

        <!-- Buttons for exploring cardinal directions -->
        {% if cardinal_connections %}
        {% for key, value in cardinal_connections.items() %}
        {% if not value %}
        <form method="post">
            <input name="action" type="hidden" value="Explore Cardinal Direction">
            <input name="cardinal_direction" type="hidden" value="{{ key }}">
            <input class="action-button" type="submit" value="Explore {{ key }}">
        </form>
        {% endif %}
        {% if value %}
        <form method="post">
            <input name="action" type="hidden" value="Travel In Cardinal Direction">
            <input name="destination_identifier" type="hidden" value="{{ value.get('identifier') }}">
            <input class="action-button" type="submit" value="Travel {{ key }} to {{ value.get('place_template') }}">
        </form>
        {% endif %}
        {% endfor %}
        {% endif %}

    </div>
</div>

<div class="available-actions-section">
    <h2>General Actions</h2>
    <div class="action-grid">
        <form action="{{ url_for('character-generation') }}" method="get">
            <input class="action-button" type="submit" value="Generate Character">
        </form>
        <form action="{{ url_for('character-memories') }}" method="get">
            <input class="action-button" type="submit" value="Character Memories">
        </form>
        <form method="post">
            <input name="action" type="hidden" value="Proceed to Chat">
            <input class="action-button" type="submit" value="Proceed to chat">
        </form>
        <form method="post">
            <input name="action" type="hidden" value="Advance Time">
            <input class="action-button" type="submit" value="Advance time 5 hours">
        </form>
    </div>
</div>

<!-- Form to add characters at the current place to followers -->
{% if characters %}
<h3>Characters at this Location:</h3>
<form method="post">
    <div class="characters-list">
        {% for character in characters %}
        <div class="character card">
            <label>
                <div class="character-content">
                    <input name="add_followers" type="checkbox" value="{{ character.identifier }}">
                    <img alt="{{ character.name }}" src="{{ character.image_url }}" width="150">
                    <div class="character-details">
                        <h2>{{ character.name }}</h2>
                        <p><strong>Description:</strong> {{ character.description }}</p>
                        <p><strong>Equipment:</strong> {{ character.equipment }}</p>
                    </div>
                </div>
            </label>
        </div>
        {% endfor %}
    </div>
    <input name="action" type="submit" value="Add to Followers">
</form>
{% else %}
<p>No characters are present at this location.</p>
{% endif %}

<!-- Form to remove followers and leave them at the current location -->
{% if followers %}
<h3>Your Followers:</h3>
<form method="post">
    <div class="characters-list">
        {% for follower in followers %}
        <div class="character card">
            <label>
                <div class="character-content">
                    <input name="remove_followers" type="checkbox" value="{{ follower.identifier }}">
                    <img alt="{{ follower.name }}" src="{{ follower.image_url }}" width="150">
                    <div class="character-details">
                        <h2>{{ follower.name }}</h2>
                        <p><strong>Description:</strong> {{ follower.description }}</p>
                        <p><strong>Equipment:</strong> {{ follower.equipment }}</p>
                    </div>
                </div>
            </label>
        </div>
        {% endfor %}
    </div>
    <input name="action" type="submit" value="Remove from Followers">
</form>
{% else %}
<p>You have no followers.</p>
{% endif %}

{% endblock %}